body {
    background-color: #131515;
    color: #F1FAEE;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
a,
h3,
.secondary{
    color: #FF1654;
}
header{
    width: 100%;
    position: fixed;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #131515;
}
header h1 {
    font-size: 1.5em;
}
header h1 a {
    text-decoration: none;
    color: #F1FAEE;
}
.header-name {
    padding: 20px;
}
section {
    display: flex;
}
section .container {
    padding: 70px 35px 0;
    width: 100%;
}
section#home {
    margin-left: 0;
}
section#home .skills {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
section#home .skills li {
    display: inline;
}
section#contact h2.sub-title {
    text-align: center;
    margin-bottom: 75px; 
}
section#contact .action-btns {
    justify-content: center;
}
section#contact .action-btns .btn {
    width: 20%;
    margin-right: 10px;
}
h2 {
    font-size: 2em;
    margin-bottom: 100px;
}
.section-title {
    color: #F1FAEE;
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}
.center-text {
    text-align: center;
}
.full-page {
    min-height: 400px;
    min-height: 100vh;
    padding: 0;
    position: relative;
}
.centered-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}
.action-btns {
    justify-content: space-between;
    display: flex;
}
.action-btns .btn {
    width: 33%;
    padding: 15px;
    border: 2px solid #FF1654;
    border-radius: 4px;
    text-decoration: none;
    color: #F1FAEE;
    transition: border-color .5s;
    transition: color .5s;
    text-align: center;
    vertical-align: middle;
}
.action-btns .btn:hover {
   border-color: #F1FAEE;
   color: #FF1654;
}
footer {
    text-align: center;
    font-size: 11px;
    padding-bottom: 5px; 
}
footer a {
    color: #FF1654;
}
.card {
    display: flex;
    margin-bottom: 50px;
}
.card .image img{
    width: 320px;
}
.card .info {
    margin-left: 30px;
    width: 100%;
}
.card .info h3,
.card .info .offline {
    margin-bottom: 10px;
}
.card .info ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 10px;
}
.card .info ul li {
    padding-bottom: 10px;
}
.header-nav .hamburger-button {
    display: none;
    color: #FF1654;
}
.header-nav {
    padding: 20px;
}
.header-nav ul li {
    display: inline;
}
.header-nav ul li:after {
    content: '·';
    padding-left: 10px;
}
.header-nav ul li:last-child:after {
    content: ''
}
.header-nav a {
    color: #F1FAEE;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.5s;
}
.header-nav a:hover {
    color: #FF1654;
}

@media screen and (max-width: 800px) {
    .card {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card .info {
        margin: 0;
        text-align: center;
        margin-top: 15px;
        min-width: 420px;
    }
    .header-nav ul {
        display: none;
    }
    .header-nav ul.expanded {
        display: block;
        position: absolute;
        right: 0;
        top: 76px;
        background-color: #2F2D2F;
        width: 100%;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }
    .header-nav ul.expanded li {
        display: block;
        border-bottom: 2px solid;
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
    .header-nav ul.expanded li:last-of-type {
        border: none;
    }
    .header-nav ul.expanded li:after{
        content: '';
    }
    .header-nav .hamburger-button {
        display: block;
    }
}